description = "Home page gallary slider"

[viewBag]
snippetCode = "gallary-slider"

[photoAlbum]
slug = "gallary"
photoPage = "gallary"
thumbMode = "auto"
thumbWidth = 640
thumbHeight = 480
photosOnPage = 5
==
<h4 class="heading">Gallary</h4>
              <div class="image-section">
                      <div class="fade1">
{% set album = photoAlbum.album %}

<div id="carouselNews" class="slider-carousel carousel slide" data-ride="carousel">
      
        
        <div class="carousel-inner" role="listbox">
          <!-- Slides -->
                  {% set count = 0 %}

{% for photo in album.photos %}
<div class="slider-carousel-item carousel-item {{count==0?'active':''}}">
            <div class="">
<img
                    data-src="{{ photo.thumb }}"
                    src="{{ photo.thumb }}"
                    alt="{{ photo.title }}"
                    title="{{ photo.title }}"
                    style="max-width: 100%" />            </div>
          </div>
                            	{% set count = count + 1 %}

          {% endfor %}
        </div>
      </div>

</div>
                </div>
              <a href="gallary">Read More &#x25B6;</a>