[viewBag]

[Playlist]
playlist = 1
display_playlist_name = 1
sort_by = "order"
sort_direction = "asc"
==
<h4 class="heading">Video Gallary</h4>
              <div class="image-section">
                      <div class="fade1">


<div id="carouselNews" class="slider-carousel carousel slide" data-ride="carousel">
      
        
        <div class="carousel-inner" role="listbox">
          <!-- Slides -->
                  {% set count = 0 %}
    {% for row in Playlist.videos | batch(2) %}

        {% for video in row %}
<div class="slider-carousel-item carousel-item {{count==0?'active':''}}">
            <div class="">
               <iframe width="100%" height="200" src="https://www.youtube.com/embed/{{ video.yt_watch }}" allowfullscreen></iframe>
            </div>
          </div>
                            	{% set count = count + 1 %}

          {% endfor %}
          

    {% endfor %}
    
        </div>
      </div>

</div>
                </div>
              <a href="videos">Read More &#x25B6;</a>