description = "Chair layout"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'meta' %}
    </head>
    <body>
        {variable tab="Header" type="text" name="tagline" label="Tagline"}{/variable}
        {variable tab="Header" type="mediafinder" mode="image" name="banner" label="Banner image"}{/variable}

        {% partial "header" %}

        {% partial "nav" %}
        <header>
            <div class="inner-banner">
                <img src="{{'banner1.jpg'|media}}">
            </div>
        </header>
        <!-- Content -->

        <div class="container">
            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-4 mb-4 left-block">
                    {% partial "current-events-sidebar" %}

                </div>
                <div class="col-lg-8 mb-4">
                    <div class="right-block">
                        {% partial "title" %}
                        {% page %}
                    </div>
                </div>
            </div>
        </div>

        </div>


        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        {% partial 'scripts' %}

    </body>
</html>