description = "Default layout"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'meta' %}
    </head>
    <body>

            {% partial "header" %}

                {% partial "nav" %}
       <header>
      <div class="inner-banner">
        <img src="{{'banner1.jpg'|media}}">
      </div>
    </header>
    
<div class="container">
      <!-- Marketing Icons Section -->
      <div class="row">
              <div class="col-lg-3 mb-4 left-block">   
                          {% partial "current-events-sidebar" %}

</div>
 <div class="col-lg-9 mb-4">
          <div class="right-block">
                              {% partial "title" %}
                        {% page %}
                </div>
          </div>
          </div>
      </div>
      
      </div>
      {% partial "footer" %}
        <!-- Scripts -->
        {% partial 'scripts' %}
    </body>
</html>