description = "home layout"

[staticMenu mainMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'meta' %}
    </head>
    <body>

            {% partial "header" %}  

                {% partial "nav" %}
       {% partial "home-slideshow" %}
    
<div class="container">
      <!-- Marketing Icons Section -->
      <div class="row">
              <div class="col-lg-3 mb-4 left-block">   
                          {% partial "current-events-sidebar" %}

</div>
 <div class="col-lg-9 mb-4">
          <div class="right-block">
                              {% partial "title" %}
                        {% page %}
                </div>
          </div>
          </div>
      </div>

<div class="grey-block">
      <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
             
                        {% partial "news-slider" %}
                      
         </div>
        <div class="col-lg-4 col-sm-6 portfolio-item"> 
            {% partial "gallary-slider" %}
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
              {% partial "video-slider" %}
        </div>
     </div>
      <!-- /.row -->
    </div>
</div>  
      <!-- /.row -->
    </div>
</div>        
      </div>
            {% partial "footer" %}

        <!-- Scripts -->
        {% partial 'scripts' %}
    </body>
</html>